<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_label_batch" name="Lageretiketten" parent="web.menu_root" sequence="50"/>
        <menuitem id="menu_label_batch_list" parent="menu_label_batch" name="Etikettenblöcke" action="action_label_batch_list"/>
    </data>
</odoo>
